.App{
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  color: #f2f2f2;
  font-size: 10px;
  background: #212121;
}
.App-header{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.App-header .App-title{
  font-size: 3.5em;
  padding: 0 0 1em 0;
  text-align: center;
}
.App-nav{
  margin: 0 10em 0 10em;
  height: 10em;
  display: flex;
}
.Input-wrapper input[type="number"], .Select-wrapper select{
  padding: 0.2em;
  border: 0.1em solid #85858b;
  border-radius: 0.5em;
  margin: 0.3em;
  font-family: 'Lato';
  color: #2b2b2b;
  background: #9b9ba0;
  font-size: 1.3em;
}

input[type="number"]:focus, .Select-wrapper select{outline:0;}
.Input-wrapper, .Select-wrapper{
  font-size: 1.4em;
  font-weight: bold;
  display: inline-flex;
  flex-direction: column;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
.button-wrapper{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.copy-btn{
  padding: 1em 2em 1em 2em;
  border: 0.1em solid #ab3525;
  border-radius: 0.5em;
  margin: 0.3em;
  font-family: 'Lato';
  color: #ddd;
  background: #161616;
  font-size: 1.5em;
  align-self: center;
  justify-self: center;
  font-weight: bold;
}
.copy-btn:hover{
  cursor: pointer;
}
.copy-btn:focus{
  outline: none;
}
.App-body{
  margin: 0 10em 10em 10em;
}

.App-output{
  display: flex;
  font-size: 1.6em;
  text-align: justify;
  border: 0.1em solid #191919;
  background-color: #292929;
  padding: 1.5em;
  border-radius: 0.5em;
  line-height: 1.4;
  color: #9c9c9f;
}

/*Big Tablet */

@media all and (max-width: 1024px) and (min-width: 769px) {
  .App-nav{
    margin: 0 2em 0 2em;
  } 
  .App-body{
    margin: 0 2em 2em 2em;
  }
  .App-output{
    font-size: 2.5em;
  }
  .Input-wrapper input[type="number"], .Select-wrapper select {
    padding: 1em;
    border: 0.1em solid #bfbfbf;
    border-radius: 0.5em;
    margin: 0 0 2em 0;
    font-family: 'Lato';
    color: #2b2b2b;
  }
  
  .Input-wrapper, .Select-wrapper{
    font-size: 2em;
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
  }
  .copy-btn {
    border: 0.1em solid #c6c6c6;
    background: transparent;
    padding: 0.7em;
    font-size: 2em;
    color: #232323;
    font-weight: bold;
    border-radius: 0.5em;
    height: 60%;
  }
}

/* Smartphones */
@media all and (max-width: 768px){
  .App-nav{
    margin: 0 0.5em 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 15em;
  } 
  .App-body{
    margin: 0 0.5em 0 0.5em;
  }
  .App-output{
    font-size: 1.5em;
  }
  .Input-wrapper input[type="number"], .Select-wrapper select {
    margin: 0.2em;
    font-size: 1.5em;
  }
  
  .Input-wrapper, .Select-wrapper{
    font-weight: bold;
    display: inline-flex;
    flex-direction: column;
  }
  .button-wrapper{
    flex-grow: 0;
  }
  .copy-btn {
    margin: 0;
    font-size: 1.8em;
    padding: 0.5em 1.5em;
  }
}
