.App{
  display: flex;
  flex-direction: column;
  font-family: 'Lato';
  color: #1a1a1a;
  font-size: 10px;
}
.App-header{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.App-header .App-title{
  font-size: 3.5em;
  padding: 0 0 1em 0;
  text-align: center;
}
.App-nav{
  margin: 0 10em 0 10em;
  height: 10em;
  display: flex;
}
.Input-wrapper input[type="number"], .Select-wrapper select{
  padding: 0.5em;
  border: 0.1em solid #ddd;
  border-radius: 0.5em;
  margin: 0 0 2em 0;
  font-family: 'Lato';
  color: #2b2b2b;
}

input[type="number"]:focus, .Select-wrapper select{outline:0;}
.Input-wrapper, .Select-wrapper{
  font-size: 1.4em;
  font-weight: bold;
  display: inline-flex;
  flex-direction: column;
}
.button-wrapper{
  display: flex;
  justify-content: flex-end;
}
.copy-btn{
  border: 0.1em solid #ddd;
  background: transparent;
  padding: 0.7em;
  font-size: 1.5em;
  color: #232323;
  font-weight: bold;
  border-radius: 0.5em;
  height: 40%;
}
.App-body{
  margin: 0 10em 10em 10em;
}

.App-output{
  display: flex;
  font-size: 1.6em;
  text-align: justify;
  border: 0.1em solid #d3d3d3;
  background-color: #f2f3f4;
  padding: 1.5em;
  border-radius: 0.5em;
  line-height: 1.4;
}


